/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* common style  */

body{
    font-family: 'Poppins', sans-serif;
}

.link-button {
    background-color: #E76F51;
}


/* header section  */

.header-bg {
    background-color: #264653;
}


/* featured bike section  */

.gray-image {
    filter: grayscale(100%);
}
