/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style  */

body{
    font-family: 'Poppins', sans-serif;
}

.link-button {
    background-color: #E76F51;
}

.highlight {
    color: #E76F51; 
}


/* header section  */

.header-bg {
    background-color: #264653;
}


/* featured bike section  */

.gray-image {
    filter: grayscale(100%);
}

/* happy client section  */

.rating {
    color: #E77C40;
}

.author-name {
    color: #23A6F0;
}

/* extra section 1 */

.progress-bg {
    background-color: aquamarine;
}

/* extra section 2 */

.subscribe-bg {
    background-color: #fceae8;
}


