/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.header-bg {
    background-color: #264653;
}

.modal-button {
    background-color: #E76F51;
}

.gray-image {
    filter: grayscale(100%);
}
